button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $black;
    color: $black;
    background-color: transparent;
    border-radius: toEm(30px);
    padding: toEm(8px) toEm(15px);
    transition: background .3s ease-in-out;
    &:hover, &:active {
        background-color: $black;
        color: $background;
        cursor: pointer;
    }
}