@import "./common/App";

.section {
    color: $black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &-main {
        background-color: $background;
        height: 100vh;
        &::after {
            position: absolute;
            left: 50%;
            top: 33%;
            transform: translate(-50%, -50%);
            content: '';
            display: block;
            width: toEm(300px);
            height: toEm(300px);
            background: url('https://media2.giphy.com/media/u6hSgDHvLBw8lYgIlL/giphy.gif?cid=ecf05e4736bscxwb6ecuwq0md4c74hsni56w05thxgt7ki7r&ep=v1_gifs_related&rid=giphy.gif&ct=s') center center/contain no-repeat;

        }
    }
    &-title {
        font-size: toEm(30px);
        position: fixed;
        left: toEm(30px);
        top: toEm(5px);
        font-weight: 700;
    }
    &-desc {
        margin-top: toEm(20px);

        margin-bottom: toEm(5px);
    }
    &-credit {
        margin-bottom: toEm(50px);

    }
}
