@import "./common/App";

.section {
    color: $black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &-main {
        background: linear-gradient(180deg, #E1D6D6 0%, rgba(255, 255, 255, 0.00) 100%);
        height: 100vh;
        // &::after {
        //     position: absolute;
        //     left: 50%;
        //     top: 33%;
        //     transform: translate(-50%, -50%);
        //     content: '';
        //     display: block;
        //     width: toEm(300px);
        //     height: toEm(300px);
        //     background: url('https://media2.giphy.com/media/u6hSgDHvLBw8lYgIlL/giphy.gif?cid=ecf05e4736bscxwb6ecuwq0md4c74hsni56w05thxgt7ki7r&ep=v1_gifs_related&rid=giphy.gif&ct=s') center center/contain no-repeat;
        //     @media screen and (max-width : $breakpoint-mobile) {
        //         top: 30%;
        
        //     }
        // }

        .header {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            z-index: 100;
            .inner {
                margin: toVw(20px) auto;
                width: 98%;
                @include flex();
                justify-content: space-between;
                .__left, .__right {
                    font-size: toVw(26px)!important;

                }
            }
        }
        .credit {
            color: #B4B4B4;
            text-transform: uppercase;
            font-size: toVw(16px);
            font-weight: 500;
            position: absolute;
            bottom: toVw(31px);
            left: toVw(31px);
        }
        .btn {
            border-radius: 242px;
            border: 1px solid #000;
            color: #000;

            font-size: toVw(100px);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: toVw(53px) toVw(50px);
            position: absolute;
            bottom: toVw(46px);
            right: toVw(30px);
            &:hover {
                background-color: #000;
                color: $color-white;
                transition: background-color .3s linear;
                cursor: pointer;
            }

        }
        .emojis {
            position: relative;
            width: 100vw;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            @include flex();
            flex-direction: column;
            img {
                animation-duration: 0.8s;
                    height: toVw(428px);
                    display: block;
                    z-index: -10;
                //     animation: marquee 25s linear infinite;
                // &:nth-child(2) {
                //     animation: marquee-r 25s linear infinite;
                // }
                // &:nth-child(2) {
                //     animation: pop 0.7s linear infinite;

                //     position: absolute;
                //     left: toVw(389px);
                //     top: toVw(212px);
                //     width: toVw(268px);
                // }
                // &:nth-child(2) {
                //     animation: pop 0.6s linear infinite;
                //     width: toVw(200px);
                //     position: absolute;
                //     left: toVw(707px);
                //     top: toVw(27px);
                // }
                // &:nth-child(3) {
                //     animation: pop 0.8s linear infinite;
                //     width: toVw(200px);
                //     position: absolute;
                //     left: toVw(1053px);
                //     top: toVw(64px);
                // }
                // &:nth-child(4) {
                //     animation: pop 0.9s linear infinite;
                //     width: toVw(200px);
                //     position: absolute;
                //     left: toVw(1197px);
                //     top: toVw(396px);
                // }
                // &:nth-child(5) {
                //     animation: pop 0.5s linear infinite;
                //     width: toVw(200px);
                //     position: absolute;
                //     left: toVw(913px);
                //     top: toVw(750px);
                // }
                // &:nth-child(6) {
                //     animation: pop 0.4s linear infinite;
                //     width: toVw(200px);
                //     position: absolute;
                //     left: toVw(440px);
                //     top: toVw(611px);
                // }
                // &:nth-child(7) {
                //     animation: pop 0.6s linear infinite;
                //     width: toVw(200px);
                //     position: absolute;
                //     left: toVw(389px);
                //     top: toVw(212px);
                // }
            }
            .card {
                // box-shadow: 260px 52px 260px 0px rgba(9, 20, 50, 0.15);
                // width: toVw(450px);
                // height: toVw(950px);
                // border-radius: toVw(32px);
                // background-color: #CC00FF;
            }
        }
        .card {
            // &::after {
            //     content: '';
            //     display: block;
            //     width: 100%;
            //     height: 100%;
            //     background-color: $color-white;
            // backdrop-filter: blur(10px);
            // border-radius: toEm(20px);
            //     opacity: 0.6;
            //     z-index: 0;
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            // }
            position: relative;
            color: $black;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border-radius: toEm(20px);
            width: 100vw;
            height: 100vh;
            // -webkit-box-shadow: 11px 12px 19px -5px rgba(49,17,68,0.28); 
            // box-shadow: 11px 12px 19px -5px rgba(49,17,68,0.28);
            
        }
    }
    &-title {
        font-size: toEm(25px);
        position: fixed;
        left: toEm(30px);
        top: toEm(5px);
        font-weight: 700;
        @media screen and (max-width : $breakpoint-mobile) {
            left: toEm(10px);
            font-size: toEm(20px);
        }
        @media screen and (max-width : $breakpoint-tablet) {
            font-size: toEm(20px);
    
        }
    }
    &-desc {
        margin-top: toEm(20px);
        word-break: keep-all;
        margin-bottom: toEm(5px);
    }
    &-credit {
        margin-bottom: toEm(50px);

    }
}
@keyframes pop{
    50%  {transform: scale(1.2);}
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
  }
  

  @keyframes marquee {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100%);
    }
}

@keyframes marquee-r {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(100%);
    }
}